In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Pre Processing

In [2]:
# Il file ha già i prezzi Close Adjusted di alcuni stocks
df = pd.read_csv("sp500_closefull.csv", parse_dates=True, index_col="Date")
df.head()

,CSCO,UAL,TROW,ISRG,PRGO,TPR,DVN,MRO,BA,VRTX,...,M,CRM,PGR,WAT,BWA,LRCX,NWL,UAA,BLK,PPL
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,24.690001,12.80,54.400002,102.923332,40.349998,36.310001,76.570000,19.153616,56.180000,44.240002,...,17.059999,18.705000,18.030001,61.630001,16.889999,39.880001,15.20,3.51000,238.580002,30.242558
2010-01-05,24.580000,13.91,55.009998,102.459999,38.790001,36.750000,76.650002,19.171511,58.020000,42.779999,...,16.860001,18.625000,17.969999,60.790001,17.695000,39.610001,15.11,3.61500,239.610001,29.851370
2010-01-06,24.420000,13.27,54.150002,103.946663,38.299999,37.470001,76.419998,19.595024,59.779999,42.029999,...,17.100000,18.592501,17.790001,60.900002,18.344999,39.430000,15.38,3.69500,234.669998,29.916569
2010-01-07,24.530001,13.55,54.110001,103.556664,37.990002,37.490002,75.970001,19.475725,62.200001,41.500000,...,17.490000,18.510000,17.549999,61.160000,18.594999,39.360001,15.82,3.65125,237.250000,29.627834
2010-01-08,24.660000,13.33,53.900002,102.986664,37.779999,37.270000,76.120003,19.505550,61.599998,40.669998,...,16.920000,18.537500,17.709999,61.209999,18.254999,40.349998,15.77,3.64375,238.919998,29.534695

In [3]:
# Droppiamo sulle righe laddove TUTTI non abbiano valori (giorni di chiusura di mercato)
df.dropna(axis=0, how="all", inplace=True)

In [4]:
df.shape

(2263, 480)

In [5]:
# Ci sono ancora dei NaNs
df.isna().sum().sum()

43094

In [6]:
# Droppiamo quelle azioni che hanno dei buchi for reason. In questo modo non ci importa di fare del filling
df.dropna(axis=1, how="any", inplace=True)

In [7]:
# Apposto, abbiamo perso una cinquantina di azioni, ma chissene
df.isna().sum().sum(), df.shape

(0, (2263, 429))

In [8]:
%%capture
# Creiamo dataframe dei returns:
df_returns = pd.DataFrame()
for col in df.columns:
    df_returns[col] = np.log(df[col]).diff()

In [9]:
df_returns.head()

,CSCO,UAL,TROW,ISRG,PRGO,TPR,DVN,MRO,BA,VRTX,...,M,CRM,PGR,WAT,BWA,LRCX,NWL,UAA,BLK,PPL
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,-0.004465,0.083163,0.011151,-0.004512,-0.039429,0.012045,0.001044,0.000934,0.032227,-0.033559,...,-0.011793,-0.004286,-0.003333,-0.013723,0.046560,-0.006793,-0.005939,0.029476,0.004308,-0.013019
2010-01-06,-0.006531,-0.047102,-0.015757,0.014405,-0.012713,0.019402,-0.003005,0.021850,0.029883,-0.017687,...,0.014134,-0.001746,-0.010067,0.001808,0.036075,-0.004555,0.017711,0.021889,-0.020832,0.002182
2010-01-07,0.004494,0.020881,-0.000739,-0.003759,-0.008127,0.000534,-0.005906,-0.006107,0.039684,-0.012690,...,0.022551,-0.004447,-0.013583,0.004260,0.013536,-0.001777,0.028207,-0.011911,0.010934,-0.009698
2010-01-08,0.005286,-0.016369,-0.003889,-0.005519,-0.005543,-0.005886,0.001973,0.001530,-0.009693,-0.020203,...,-0.033133,0.001485,0.009075,0.000817,-0.018454,0.024841,-0.003166,-0.002056,0.007014,-0.003149

In [10]:
# Shiftiamo i return di SPY
df_returns["SPY"] = df_returns["SPY"].shift(-1)
df_returns["SPY"].tail()

Date
2018-12-21   -0.026778
2018-12-24    0.049290
2018-12-26    0.007648
2018-12-27   -0.001291
2018-12-28         NaN
Name: SPY, dtype: float64

In [11]:
# Prendiamo Train e test set, eliminando prima e ultima riga
N_test = 1000
train = df_returns.iloc[1:-N_test]
test = df_returns.iloc[-N_test:-1]

In [12]:
columns = df_returns.columns
columns

Index(['CSCO', 'UAL', 'TROW', 'ISRG', 'PRGO', 'TPR', 'DVN', 'MRO', 'BA',
       'VRTX',
       ...
       'M', 'CRM', 'PGR', 'WAT', 'BWA', 'LRCX', 'NWL', 'UAA', 'BLK', 'PPL'],
      dtype='object', length=429)

In [13]:
x_cols = ['AAPL', 'MSFT', 'AMZN', 'JNJ', 'V', 'PG', 'JPM']
x_cols

['AAPL', 'MSFT', 'AMZN', 'JNJ', 'V', 'PG', 'JPM']

In [14]:
x_train = train[x_cols]
y_train = train["SPY"]
x_test = test[x_cols]
y_test = test["SPY"]

In [15]:
x_train.head()

,AAPL,MSFT,AMZN,JNJ,V,PG,JPM
Date,,,,,,,
2010-01-05,0.001727,0.000323,0.005883,-0.011663,-0.011525,0.000327,0.019185
2010-01-06,-0.016034,-0.006156,-0.018282,0.008101,-0.013519,-0.004755,0.005479
2010-01-07,-0.001850,-0.010454,-0.017160,-0.007163,0.009264,-0.005438,0.019615
2010-01-08,0.006626,0.006873,0.026717,0.003432,0.002762,-0.001323,-0.002459
2010-01-11,-0.008861,-0.012802,-0.024335,0.000156,-0.002878,-0.003979,-0.003363

## Predictions

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
model = LinearRegression()
model.fit(x_train, y_train)

# model.score valuta quanto il modello predice correttamente rispetto al target.
# Il punteggio va da 0 a 1, dove 0 è la predizione del valore medio (naive) e 1 è predizione perfetta
# Un valore negativo è persino peggiore della baseline (naive prediction)
model.score(x_train, y_train), model.score(x_test, y_test)

(0.008271754178782564, -0.011369618185063324)

In [18]:
# Ok, per ora noi ci interessiamo di predire effettivamente il SEGNO della predizione, più che del valore
# Calcoliamo la "direzione"
train_prediction = model.predict(x_train)
test_prediction = model.predict(x_test)
# Valutiamo sulla base dei segni: facciamo la media in cui indoviniamo il segno
# E' come se fosse una classification accuracy
# La chance è poco maggiore a 0.50, quindi praticamente poco più del lancio di moneta
np.mean(np.sign(y_train) == np.sign(train_prediction)), np.mean(np.sign(y_test) == np.sign(test_prediction))

(0.528526148969889, 0.5285285285285285)

In [19]:
# Con set creiamo un insieme dove non sono ammessi duplicati. Perchè?
# La funzione np.sign è leggermente subdola. Se i valori sono uguali a 0, avremo come risultato nè + (1) nè - (-1) ma 0
# Controlliamo non ce ne siano
set(np.sign(train_prediction)), set(np.sign(test_prediction))

({-1.0, 1.0}, {-1.0, 1.0})

In [20]:
# Solito trucco per usare loc e indicizzare per parti un df
train_idx = df.index <= train.index[-1]
test_idx = df.index > train.index[-1]

# Settiamo il primo e l'ultimo valore a false perchè non li vogliamo (sono NAN)
train_idx[0] = False 
test_idx[-1] = False

# creiamo una nuova colonna, per adesso a 0 -> Colonna IsInvested
df_returns["Position"] = 0
# Popoliamo la colonna di 1 laddove volessimo comprare. Con la parentesi è come se mettessimo True o False in base alla condizione
df_returns.loc[train_idx, "Position"] = (train_prediction > 0).astype("int")
df_returns.loc[test_idx, "Position"] = (test_prediction > 0).astype("int")

C:\Users\emili\AppData\Local\Temp\ipykernel_12668\3239165886.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_returns["Position"] = 0

In [21]:
df_returns["AlgoReturn"] = df_returns["Position"] * df_returns["SPY"]

C:\Users\emili\AppData\Local\Temp\ipykernel_12668\402297896.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_returns["AlgoReturn"] = df_returns["Position"] * df_returns["SPY"]

In [22]:
# Confronto tra Modello (sx) e Hold and Buy (dx) sul train set
df_returns.loc[train_idx, "AlgoReturn"].sum(), y_train.sum()

(0.5477174926058392, 0.5863972019814705)

In [23]:
# Confronto tra Modello (sx) e Hold and Buy (dx) sul test set
df_returns.loc[test_idx, "AlgoReturn"].sum(), y_test.sum()

(0.3037759916491991, 0.19307543946998518)

In [24]:
df_returns["AlgoReturn"].sum(), df_returns["SPY"].sum()

(0.8514934842550383, 0.782116240308401)

## Classification Approach

Fino ad ora abbiamo usato la regressione lineare per ottenere i risultati, anche se ci sono serviti unicamente i segni.
Ora andiamo di un approccio basato sulla classificazione

In [25]:
from sklearn.linear_model import LogisticRegression

In [30]:
# C controlla un parametro di penalizzazione della regolarizzazione. Evita che i pesi diventino troppo grandi, portando ad alcuni
# specifici problemi
model = LogisticRegression(C=10)
# Creiamo la versione classe del segno. Metteremo a True tutti i valori di SPY > 0 per train e test set
class_train = (y_train > 0)
class_test = (y_test > 0)
model.fit(x_train, class_train)
model.score(x_train, class_train), model.score(x_test, class_test)

(0.5586370839936609, 0.5285285285285285)

In [34]:
# Prendiamo le predizioni. Set ci serve per capire cosa viene predetto.
p_train = model.predict(x_train)
p_test = model.predict(x_test)
set(p_train), set(p_test)

({False, True}, {False, True})

In [37]:
df_returns.loc[train_idx, "Position"] = p_train.astype("int64")
df_returns.loc[test_idx, "Position"] = p_test.astype("int64")
df_returns["AlgoReturn"] = df_returns["Position"] * df_returns["SPY"]

In [38]:
df_returns.loc[train_idx, "AlgoReturn"].sum(), y_train.sum()

(0.5905718759742236, 0.5863972019814705)

In [39]:
df_returns.loc[test_idx, "AlgoReturn"].sum(), y_test.sum()

(0.19680747922142316, 0.19307543946998518)

In [40]:
df_returns["AlgoReturn"].sum(), df_returns["SPY"].sum()

(0.7873793551956467, 0.782116240308401)

## RandomForest Classifier

Proviamo con un modello più potente adesso

In [42]:
from sklearn.ensemble import RandomForestClassifier

In [105]:
rf = RandomForestClassifier(n_estimators=500, random_state=100)
rf.fit(x_train, class_train)
# Uh oh, sembra che abbiamo dell'overfit pesante qui.
# Questo succede perchè un classificatore RF è molto potente, tanto da prendersi il noise del dataset
# Ho ridotto dal default di 100 a 5 il numero di stimatori, in modo da prendere meno rumore e aumentare la precisione nel test set.
# Questa scelta, tuttavia, ha aumentato la varianza dei risultati: cambiando random state a 1 abbiamo avuto persino ritorni negativi!!
# Aumentando gli stimatori a 500, invece, sembra che siamo più resistenti alla varianza
rf.score(x_train, class_train), rf.score(x_test, class_test)

(1.0, 0.5125125125125125)

In [106]:
p_train = rf.predict(x_train)
p_test = rf.predict(x_test)
set(p_train)

{False, True}

In [107]:
df_returns.loc[train_idx, "Position"] = p_train.astype("int64")
df_returns.loc[test_idx, "Position"] = p_test.astype("int64")
df_returns["AlgoReturn"] = df_returns["Position"] * df_returns["SPY"]

In [108]:
df_returns.loc[train_idx, "AlgoReturn"].sum(), y_train.sum()

(4.706503557502187, 0.5863972019814705)

In [109]:
df_returns.loc[test_idx, "AlgoReturn"].sum(), y_test.sum()

(0.2885155161673776, 0.19307543946998518)

## Conclusioni

Nessuno dei modelli possiamo essere sicuri che performino bene. I dati di tre mesi fa potrebbero non essere più ottimi dati per l'addestramento alle predizioni future. Le cose possono cambiare ed il rumore che si porta dietro un segnale come quello dei ritorni di mercato non rende l'addestramento facile, anzi.

Questo signfica sempre una cosa. Se i dati non sono buoni a predire, puoi usare il modello più potente del mondo, ma non otterrai niente di utile.